<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
  </head>
  <body>
    <!-- Header Start -->
    <div class="header-main">
      <header class="header-container">
        <div class="header-child-1">
          <img src="{% static 'images/logo.svg' %}" alt="" />
        </div>
        <div class="header-child-2">
          <button class="nav-links">Home</button>
          <button class="nav-links">Blog & News</button>
          <button class="nav-links">Store</button>
          <button class="nav-links">Live Groups</button>
        </div>
        <div class="header-child-3">
          <h4>Username</h4>
          <button>⬇️</button>
        </div>
      </header>
    </div>
    <!-- Header End -->

    <!-- main body -->

    <div class="main-body">
      <div class="body-container">

        <!-- ! LEFT CONTAINER -->
        <div class="body-left">
          <!-- profile part -->
          <div class="profile-container">
            <div class="profile-pic-container">
              <img
                class="profile-photo"
                src="{{student.profileURL}}"
                alt=""
              />
              <h1>{{ student.name}}</h1>
              <h5>{{ student.career_status }}</h5>
            </div>
            <!--! personal inforation -->
            <div class="profile-info">
              <div class="personal-info-card">
                <h1>Personal Information</h1>
                <h3></h3>
                <h3></h3>
                <h6 style="font-family:monospace;"><strong>Username :</strong>{{student.username}}</h6>
                <h6 style="font-family:monospace;"><strong>Email :</strong> {{student.email}}</h6>
                <h6 style="font-family:monospace;"><strong>Phone No :</strong> {{student.phone}}</h6>
                <h6 style="font-family:monospace;"><strong>Enrolled In :</strong> {{enroll}}</h6>
                <h6 style="font-family:monospace;"><strong>Intrests : </strong>{{student.interest}}</h6>
                
                <hr />
                <!-- Achievements population container -->
                <div class="achievements-container">
                  <h4>Achievements</h4>
                  <div class="achievements-tags">#tag1</div>
                  <div class="achievements-tags">#tag2 blah</div>
                </div>
                <!-- Achievements population container ENDS -->
                <!-- buttons -->
                <div class="btn-container">
                  <button class="btn btn-1">Edit Profile</button>
                  <button class="btn btn-2">Institute platform</button>
                  <button class="btn btn-3">Competetions</button>
                </div>
              </div>
            </div>
            <!-- ! Personal inforation ENDS -->
          </div>
          <!-- Profile part end -->

          <!--! Career and Inbox section Tables ROW-1 -->
          <div class="career-and-inbox-main">
            <div class="career-container">
              <h1>Institute Applications</h1>
              <hr/>
              <table>
                <th>Institute</th>
                <th>Status</th>
                <th>View Application</th>
                <th></th>
                <th></th>
                 {% for i in applications%}
                <tr>
                  <td>{{ i.institute}}</td>                  
                  <td>{{i.status}}</td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">View</button></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
              </table>
              
            </div>
            <div class="inbox-container">
              <h1>Inbox</h1>
              <hr/>
              <table>
                <th>Name</th>
                <th>Content</th>
                <th>Status</th>
                <th></th>
                <tr>
                  <td>Sender's Name</td>
                  <td>Sample text ...</td>
                  <td>Offline</td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Expand</button></td>
                </tr>
                
              </table>
            </div>
          </div>
          <!--! Career and Inbox section Tables ROW-1  ----END---- -->
          <!--! Career and Inbox section Tables ROW-2 -->
          <div class="career-and-inbox-main">
            <div class="career-container">
              <h1>Career Portal</h1>
              <hr />
              <table>
                <th>Name</th>
                <th>Current Level</th>
                <th>Status</th>
                <th>Jobs Unlocked</th>
                <th></th>
                <th>Score and Data</th>
                {% for career in careers %}
                <tr> 
                  <td>{{career.0}}</td>
                  <td>{{career.1}}</td>
                  <td>{{career.2}}</td>
                  <td>2</td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Continue</button></td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Show Data</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="inbox-container">
              <h1>Job Applications</h1>
              <hr />
              <table>
                <th>Job No.</th>
                <th>Company Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Expand</th>
                {% for application in jobapplications%}
                <tr>
                  <td>#{{application.jobno}}</td>
                  <td>{{application.name}}</td>
                  <td>{{application.category}}</td>
                  <td>{{application.status}}</td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Open</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <!--! Career and Inbox section Tables ROW-2  ----END---- -->
          <!--! Career and Inbox section Tables ROW-3 -->
          <div class="career-and-inbox-main">
            <div class="career-container">
              <h1>Task</h1>
              <hr />
              <table>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Open</th>
                <th>Submit</th>
                {% for task in tasks %}
                <tr>
                  <td>{{task.name}}</td>
                  <td>{{task.task_type}}</td>
                  <td>{{task.status}}</td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Open</button></td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Submit</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="inbox-container">
              <h1>Academics</h1>
              <hr />
              <table>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Expand</th>
                {% for academic in academics %}
                <tr>
                  <td>{{academic.name}}</td>
                  <td>{{academic.type}}</td>
                  <td>{{academic.status}}</td>
                  <td><button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Exapand</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <!--! Career and Inbox section Tables ROW-3  ----END---- -->
        </div>
        <!-- ! LEFT CONTAINER ----end--- -->

        <!-- ! RIGHT CONTAINER -->
        <div class="body-right">
          <div class="calender-container">
            Calender
          </div>
          <div class="top-container right-containers">
            <h4>TOP</h4>
            <hr>
          </div>
          <div class="mid-container right-containers">
            <h4>MID</h4>
            <hr>
          </div>
          <div class="bottom-container right-containers">
            <h4>BOTTOM</h4>
            <hr>
          </div>
        </div>
        <!-- ! RIGHT CONTAINER ---ends--- -->
      </div>
    </div>
  </body>
</html>
