{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/event.css' %}">
    
  </head>
  <body>
 
     <!--  -------------------------------NAVBAR----------------------------------- -->
    <div class="flex w-full px-20 py-4 p-auto space-between navbar">
      <!-- image container -->
      <div class="flex items-center w-2/12">
        <img
          src="{% static 'images/Assets/logo/edu-Slogg.svg' %}"
          alt="eduSlogg-logo"
        />
      </div>
      <!-- Nav Links -->
      <div
        class="flex items-center justify-center w-2/3 gap-8 font-normal text-gray-400 "
      >
        <div><a href="{% url 'institutes' %}">Find a Institute</a></div>
        <div><a href="{% url 'jobportal' %}">Find a Job</a></div>
        <div><a href="{% url 'career' %}">Careers Portal</a></div>
        <div><a href="{% url 'event' %}">Events</a></div>
        <div><a href="{% url 'faq' %}">FAQ</a></div>
      </div>
      <!-- Login & Log out btns -->
      <div class="flex items-center justify-end w-2/12 gap-5">
        <div>
          <a href="{% url 'login' %}" style="color: #5ac817">Log In</a>
        </div>
        <div>
          <form action="{% url 'register' %}">
            <button
              class="px-8 py-1 pb-2 text-white rounded-full"
              style="background-color: #5ac817"
            >
              <span>Sign Up</span>
            </button>
          </form>
        </div>
      </div>
    </div>
       <!-- Hero Start -->
       <div  style="background-image: url('{% static 'images/eventsbg.jpg' %}');" class="flex flex-col items-center px-20 hero-container p-auto">
        <h1 class="font-bold text-center pt-36 text-7xl dark-green cabin-font">
          Eduslogg Events!
        </h1>
        <p
              class="pt-10 mt-10 text-lg font-semibold text-center text-gray-700 opacity-90 px-60 poppins-font"
            >
            The Best Experiences Of Your Life From Institutes All Over The World Are Waiting For You , And We Have All Of Them Here
            </p>
            <button
            class="w-2/6 py-4 mt-32 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          EXPLORE THE EVENTS NOW
          </button>
       </div>
       <!-- Branding -->
      <div class="flex items-center px-20 py-10 p-auto justify-evenly">
        <img  src="{% static 'images/brr1.jpg' %}" alt="">
        <img src="{% static 'images/br2.jpg' %}" alt="">
        <img src="{% static 'images/br3.jpg' %}" alt="">
        <img src="{% static 'images/br4.jpg' %}" alt="">

      </div>
      <!-- Events -->
      <div style="background-image: url('{% static 'images/Assets/bgeventsec.svg' %}');
      " class="flex flex-col items-center justify-center px-20 py-10 p-auto theme-light-bg event-card-container">
        <h1 class="mb-10 text-3xl font-bold text-gray-700 poppins-font">TRENDING NOW</h1>
        <div class="flex items-center justify-center gap-16">
          <!-- card -->
          <div style="background-image: url('{% static 'images/Assets/eventscardbg.svg' %}');
             " class="flex flex-col items-center justify-center gap-4 p-4 shadow-lg event__card rounded-3xl">
           <h1>MOOD INDIGO</h1>
           <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          Book Ticket
          </button>
           </div>
          <div style="background-image: url('{% static 'images/Assets/eventscardbg.svg' %}');
             " class="flex flex-col items-center justify-center gap-4 p-4 shadow-lg event__card rounded-3xl">
           <h1>COGNIZANCE</h1>
           <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          Book Ticket
          </button>
           </div>
        </div>
      </div>
      <!-- Events End -->
      <div class="flex flex-col items-center justify-center gap-10 px-20 py-16 p-auto">
        <h1 class="mb-10 text-3xl font-bold text-gray-700 poppins-font">POPULAR CATEGORIES</h1>
        <!-- Card div container -->
        <div class="grid grid-cols-3 gap-10">
          <!-- Card -->
            <div class="flex flex-col items-center justify-center gap-10 bg-white border border-gray-200 shadow-xl popular_category_card rounded-2xl">
              <h1 class="poppins-font">Cultural Fest</h1>
              <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          View Events
          </button>
            </div>
            <div class="flex flex-col items-center justify-center gap-10 bg-white border border-gray-200 shadow-xl popular_category_card rounded-2xl">
              <h1 class="poppins-font">Cultural Fest</h1>
              <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          View Events
          </button>
            </div>
            <div class="flex flex-col items-center justify-center gap-10 bg-white border border-gray-200 shadow-xl popular_category_card rounded-2xl">
              <h1 class="poppins-font">Cultural Fest</h1>
              <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          View Events
          </button>
            </div>
            <div class="flex flex-col items-center justify-center gap-10 bg-white border border-gray-200 shadow-xl popular_category_card rounded-2xl">
              <h1 class="poppins-font">Cultural Fest</h1>
              <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          View Events
          </button>
            </div>
            <div class="flex flex-col items-center justify-center gap-10 bg-white border border-gray-200 shadow-xl popular_category_card rounded-2xl">
              <h1 class="poppins-font">Cultural Fest</h1>
              <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          View Events
          </button>
            </div>
            <div class="flex flex-col items-center justify-center gap-10 bg-white border border-gray-200 shadow-xl popular_category_card rounded-2xl">
              <h1 class="poppins-font">Cultural Fest</h1>
              <button
            class="w-3/6 py-1 font-semibold text-white rounded-full poppins-font btn-gradient"
          >
          View Events
          </button>
            </div>
        </div>

      </div>
      <!-- todo::: ----FOOTER========== -->
    <div
    style="
      background-image: url('{% static 'images/Assets/illustrations/footerbg.svg' %}');
    "
    class="px-20 py-10 mt-16 p-auto poppins-font footer-bg-color my-footer"
  >
    <div class="flex w-full">
      <!-- ===============COL-1====================== -->
      <div class="flex flex-col w-1/4">
        <img
          class="w-3/4"
          src="{% static 'images/Assets/logo/edu-Slogg.svg' %}"
          alt="eduslogg"
        />
        <h1 class="text-lg font-light footer-text-color">
          Your career starts<br />here
        </h1>

        <a class="mt-5 text-xs font-semibold footer-text-color" href=""
          >Learn More
        </a>
      </div>
      <!-- =================COL-2=================== -->
      <div class="flex w-2/4 justify-evenly">
        <div class="flex flex-col items-center gap-2">
          <h1 class="text-base font-bold footer-text-color">About</h1>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
        </div>
        <div class="flex flex-col items-center gap-2">
          <h1 class="text-base font-bold footer-text-color">About</h1>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
        </div>
        <div class="flex flex-col items-center gap-2">
          <h1 class="text-base font-bold footer-text-color">About</h1>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
        </div>
        <div class="flex flex-col items-center gap-2">
          <h1 class="text-base font-bold footer-text-color">About</h1>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
          <a class="text-sm footer-text-color" href="#">Link</a>
        </div>
      </div>
      <!-- ----------------col-3-------------------------- -->

      <div class="flex flex-col items-end w-1/4">
        <h1 class="text-base font-bold footer-text-color">Contact Us</h1>
        <a class="mt-5 text-sm footer-text-color" href="mailto:abc@test.com"
          >contact@xyz.com</a
        >
        <a class="mt-2 text-sm footer-text-color" href="tel:+916394915228"
          >+91 9548544515</a
        >

        <div class="flex items-center gap-5 p-2 mt-5">
          <a href="#"
            ><img
              class="w-8"
              src="{% static 'images/Assets/icons/fb.svg' %}"
              alt=""
          /></a>
          <a href="#"
            ><img
              class="w-8"
              src="{% static 'images/Assets/icons/insta.svg' %}"
              alt=""
          /></a>
          <a href="#"
            ><img
              class="w-8"
              src="{% static 'images/Assets/icons/twitter.svg' %}"
              alt=""
          /></a>
          <a href="#"
            ><img
              class="w-8"
              src="{% static 'images/Assets/icons/linkedin.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex px-20 pt-10 pb-5 poppins-font footer-bg-color">
    <div class="flex w-2/4 gap-10">
      <a class="text-xs footer-text-color" href="#">Terms of Use</a>
      <a class="text-xs footer-text-color" href="#">Licence agreement</a>
      <a class="text-xs footer-text-color" href="#">Privacy Policy</a>
      <a class="text-xs footer-text-color" href="#">Aplication affirmations</a>
    </div>
    <div class="flex justify-end w-2/4 gap-10">
      <p class="text-xs footer-text-color">© 2021 edu-Slog, Inc</p>
    </div>
  </div>
  <!-- todo::: ----FOOTER==========END=== -->

  </body>
</html>