{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/footer.css'%}">
    </head>
    <body>


<footer class="footer-container">
      <!-- todo ROW-1 -->
      <div class="footer_row-1">
        <!-- todo ROW-1-COL-1 -->
        <div class="row_1-col-1">
          <div class="footer-menu-container">
            <!-- menu-1 -->
            <div class="footer-menu">
              <h1>About</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-1 END -->

            <!-- menu-2 -->
            <div class="footer-menu">
              <h1>Blog</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-2 END -->

            <!-- menu-3 -->
            <div class="footer-menu">
              <h1>Services</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-3 END -->

            <!-- menu-4 -->
            <div class="footer-menu">
              <h1>Help</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-4 END -->
          </div>
        </div>

        <!-- todo ROW-1-COL-2 -->
        <div class="row_1-col-2">
          <h1>Contact Us</h1>
          <a href="#">abc@gmail.com</a>
          <a href="tel:+916394915220">+91 9854XXX588</a>

        </div>
      </div>
      <!-- ILLUS -->
      <div class="footer-ILLUS">
        <img
          src="{% static 'images/Assets/illustrations/girl-bike-4cdb8ceabab074fbf64ca1c989fb3f78.svg' %}"
          alt=""
        />
        <img src="{% static 'images/Assets/illustrations/download.svg' %}" alt="" />
        <hr />
      </div>
      <!-- todo ROW-2 -->
      <div class="footer_row-2">
        <div class="row-2-col-1">
          <a href="#">Terms of use</a>
          <a href="#">Licence agreement</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Application affirmations</a>
        </div>
        <div class="row-2-col-2">
          <p>© <span id="footer-date"></span> edu-Slog, Inc</p>
        </div>
      </div>
    </footer>
    <!-- !FOOTER ENDS---=> -->
        
        <script src="" async defer></script>
    </body>
</html>