{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Get Started | EduSlogg</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/getstart.css'%}">
    </head>
    <body>
    <div class="flex-container">
<!--NAVBAR-->
    
    <div class="nav">
        <div class="button-div">
            <form action="{% url 'home'%}">
                <button class="button button1" type="submit"><span>HOME</span></button>
            </form>    
        </div>
        <div class="head-col">
            <h1 class="heading">edu-Slogg</h1>
        </div> 

    </div>  

<!-- Main CONTAINER-->

    <div class="main-container">
        <!-- CARD 1 STARTS-->
        <div class="card1">
            <div class="card-header"><h4>Let's Get Started !</h4></div>
            <div class="card-body"><p>Welcome to Edu-Slogg! Please tell us how you will use the system so we can prepare your account for your preferred category. If you are unsure, we encourage you to explore each career option before you continue.</p></div>
        </div>
        <!-- CARD 1 ENDS-->
    
    </div>
<!--MAIN CONTAINER ENDS-->    
    

<!-- FOOTER STARTS-->
    <footer class="footer-container">
      <div class="footer-ILLUS">
        <img
          src="{% static 'images/Assets/illustrations/girl-bike-4cdb8ceabab074fbf64ca1c989fb3f78.svg' %}"
          alt=""
        />
        <img src="{% static 'images/Assets/illustrations/download.svg' %}" alt="" />
        <hr />
      </div>
    </footer>
<!--FOOTER ENDS-->
</div>



        <script src="" async defer></script>
    </body>
</html> 