{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduSlogg</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    <!-- slide -->
    <!-- Required Core Stylesheet -->
    <link
      rel="stylesheet"
      href="{% static 'js/node_modules/@glidejs/glide/dist/css/glide.core.min.css' %}"
    />

    <!-- Optional Theme Stylesheet -->
    <link
      rel="stylesheet"
      href="{% static 'js/node_modules/@glidejs/glide/dist/css/glide.theme.min.css' %}"
    />
  </head>

  <body>
    <div style="background-image: url({% static 'images/Assets/illustrations/herobgg.svg' %});" class="h-screen hero-container">
      <!-- ! -------------------------------NAVBAR----------------------------------- -->
      <div class="flex py-4 m-auto mx-20 space-between">
        <!-- image container -->
        <div class="flex items-center w-2/12">
          <img 
            src="{% static 'images/Assets/logo/edu-Slogg.svg' %}"
            alt="eduSlogg-logo"
          />
        </div>
        <!-- Nav Links -->
        <div
          class="flex items-center justify-center w-2/3 gap-8 font-normal text-gray-400 "
        >
          <div><a href="#">Find a Institute</a></div>
          <div><a href="#">Find a Job</a></div>
          <div><a href="#">Careers Portal</a></div>
          <div><a href="#">Events</a></div>
          <div><a href="#">FAQ</a></div>
        </div>
        <!-- Login & Log out btns -->
        <div class="flex items-center justify-end w-2/12 gap-5">
          <div><a src="" style="color: #5ac817">Log In</a></div>
          <div>
            <button
              class="px-8 py-1 pb-2 text-white rounded-full"
              style="background-color: #5ac817"
            >
              <span>Sign Up</span>
            </button>
          </div>
        </div>
      </div>
      <!-- ! -------------------------------NAVBAR---------------END-------------------- -->
      <div class="flex m-auto mx-20 hero-container">
        <!-- -----------COL-1------------- -->
        <div class="flex flex-col justify-center w-2/4 gap-20 hero__col-1">
          <div>
            <p class="text-lg font-semibold light-green poppins-font">Accelerate your career</p>
            <h1 class="font-bold text-7xl dark-green cabin-font">Your Career Start <br>here</h1>
            <p class="mt-10 text-lg font-semibold text-gray-700 opacity-50 poppins-font">
              Accelerate Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Nemo quae voluptatum ut aliquam veniam ullam velit.
              Repudiandae
              <br />
              It’s easy with blaa bla bla!
            </p>
          </div>
          <button class="w-2/6 py-4 font-semibold text-white rounded-full poppins-font btn-gradient">Get Started</button>
        </div>

        <!-- !== Col-2 -->
        <div class="flex items-end w-2/4 hero__col-2">
          <img
            src="{% static 'images/Assets/illustrations/col2vec.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>   
  </body>
  <!-- JS -->
  <script
      defer
      src="{% static 'js/JS/app.js' %}"
      type="text/javascript"
    ></script>
    <script
      defer
      src="{% static 'js/JS/date.js' %}"
      type="text/javascript"
    ></script>
    <!-- Slide -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      const config = {
        type: "carousel",
      };
      new Glide(".glide", config).mount();
    </script>
</html>
