{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduSlogg</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- slide -->
    <!-- Required Core Stylesheet -->
    <link
      rel="stylesheet"
      href="{% static 'js/node_modules/@glidejs/glide/dist/css/glide.core.min.css' %}"
    />

    <!-- Optional Theme Stylesheet -->
    <link
      rel="stylesheet"
      href="{% static 'js/node_modules/@glidejs/glide/dist/css/glide.theme.min.css' %}"
    />
  </head>

  <body>
    <div class="h-screen bg-red-300 mx-7 m-auto">
      <!-- !NAVBAR -->
      <div class="flex w-full space-between ">
        <!-- image container -->
        <div class="col-1 w-2/12 bg-red-700 items-center flex">
          <img src="{% static 'images/Assets/logo/edu-Slogg.svg' %}" alt="eduSlogg-logo" />
        </div>
        <!-- Nav Links -->
        <div class="col-2 flex gap-5 w-2/3 justify-center items-center bg-yellow-300">
          <div>Find a Institute</div>
          <div>Find a Job</div>
          <div>Careers Portal</div>
          <div>Events</div>
          <div>FAQ</div>
        </div>
        <!-- Login & Log out btns -->
        <div class="col-3 w-2/12 flex gap-3 items-center bg-blue-500 justify-end">
          <div><a src="" style="color: #5AC817">Log In</a></div> 
          <div> 
            <button class="text-white rounded-full px-2" style="background-color: #5AC817;">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script
      defer
      src="{% static 'js/JS/app.js' %}"
      type="text/javascript"
    ></script>
    <script
      defer
      src="{% static 'js/JS/date.js' %}"
      type="text/javascript"
    ></script>
    <!-- Slide -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      const config = {
        type: "carousel",
      };
      new Glide(".glide", config).mount();
    </script>
  </body>
</html>
