{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Explore Institutes From Allover The World | Eduslogg</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'styles/institutes.css' %}">
	</head>
	<body>

	<!-- NAVBAR STARTS-->
	<div class="navbar">
	</div>
	<!--NAVBAR ENDS-->

	<!--SEARCH BAR-->
	<div class="search-bar">
	</div>
	<!--SEARCH BAR ENDS-->

	<!--MAIN CONTAINER STARTS-->
	<div class="main-container">

	<!--sidebar-->
	<div class="sidebar">
	</div>
	<!-- sidebar ends-->

	<!--submain block-->
	<div class="submain-box">  <!--THIS IS DUMP BRANCH-->

	<!--college card-->
	{% for i in institutes %}

  
	<div class="college-card">
	<div class="flip-card">
	<div class="college-card-inner">
	<div class="card-image">
	<img class="profile-photo" src="{{i.profileURL}}" alt="college photo"/>
	</div>

	<div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
	
	</div>
	</div>

	<!-- card container-->
	<div class="card-content">
	<!--head container div-->

	<div class="head-container">
	<div class="name-div">
	<h3>{{i.name}}</h3>
	</div>
	<div class="location-div">
	<h4>{{i.location}}</h4>
	</div>
	</div>
	<!--head container div ends-->

	<!-- foot container div-->
	<div class="foot-container">
		<div class="view-div">
			<a href="{% url 'privins' i.id %}" class="btn btn-secondary">View</a>
		</div>

		<div class="apply-div">	
			<a class="btn btn-outline-success" href="#">Apply</a>
		</div>
	</div>
	<!--foot container div ends-->
	</div>
    <!-- card container ends-->
	</div>
	{% endfor %}
	<!--college card ends-->

	</div>
	<!--submain block ends-->
	</div>
	<!-- MAIN CONTAINER ENDS-->
