{% include 'app1/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/jobapplication.css' %}">
    </head>
    <body>
        
        <!-- navbar starts -->
                {% block content %}

                {% endblock %}
        
        <!--navbar ends-->

        <!-- main container starts -->
        <div class="main-container">
            <div class="left-container">
            <!--job head-->
            <div class="job-head">{{job.jname}}</div>
            <!-- job head ends -->

            <!-- job loc-->
            <div class="job-loc">{{job.location}}</div>
            <!-- job loc ends -->

            <!-- some buttons and links-->
            <div class="btns-links">
                <!-- apply-->
                <div class="apply-btn">
                    <button class="apply-button">Apply now</button>
                </div>
                <!-- apply ends-->

                <!-- save -->
                <div class="save-btn">
                        <button class="bookmark">
                            <svg viewBox="0 0 36 36">
                                <path class="filled" d="M26 6H10V18V30C10 30 17.9746 23.5 18 23.5C18.0254 23.5 26 30 26 30V18V6Z" />
                                <path class="default" d="M26 6H10V18V30C10 30 17.9746 23.5 18 23.5C18.0254 23.5 26 30 26 30V18V6Z" />
                                <path class="corner" d="M10 6C10 6 14.8758 6 18 6C21.1242 6 26 6 26 6C26 6 26 6 26 6H10C10 6 10 6 10 6Z" />
                            </svg>
                        </button>
                </div>
                <!-- save ends -->

                <!-- social links -->
                <div class="social-link">
                        
                    

                </div> 
                <!-- social link ends -->
            </div>
            <!-- btn and links ends here -->               
            
            </div>
            <!-- left container ends here -->
            <div class="right-container"></div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>