{% include 'app1/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{job.jname}}|{{job.cname}}|Eduslogg</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'styles/jobapplication.css' %}">
    </head>
    <body>
        
        <!-- navbar starts -->
                {% block content %}

                {% endblock %}
        
        <!--navbar ends-->

        <!-- main container starts -->
        <div class="main-container">
            <div class="left-container">
            <!--job head-->
            <div class="job-head">{{job.jname}}</div>
            <!-- job head ends -->

            <!-- job loc-->
            <div class="job-loc">{{job.location}}</div>
            <!-- job loc ends -->

            <!-- some buttons and links-->
            <div class="btns-links">
                <!-- apply-->
                <div class="apply-btn">
                    <button class="apply-button">Apply now</button>
                </div>
                <!-- apply ends-->

                <!-- save -->
                <div class="save-btn">
                        <button class="bookmark">
                            <svg viewBox="0 0 36 36">
                                <path class="filled" d="M26 6H10V18V30C10 30 17.9746 23.5 18 23.5C18.0254 23.5 26 30 26 30V18V6Z" />
                                <path class="default" d="M26 6H10V18V30C10 30 17.9746 23.5 18 23.5C18.0254 23.5 26 30 26 30V18V6Z" />
                                <path class="corner" d="M10 6C10 6 14.8758 6 18 6C21.1242 6 26 6 26 6C26 6 26 6 26 6H10C10 6 10 6 10 6Z" />
                            </svg>
                        </button>
                </div>
                <!-- save ends -->

                <!-- social links -->
                <div class="social-link">
                                <div class="social-container">
                                  <button class="social-btn">
                                    <i class="fa fa-facebook" style="font-size:25px;"></i>
                                  </button>
                                  <button class="social-btn">
                                    <i class="fa fa-instagram" style="font-size:25px;"></i>
                                  </button>
                                  <button class="social-btn">
                                    <i class="fa fa-twitter" style="font-size:25px;"></i>
                                  </button>
                                </div>
                </div> 
                <!-- social link ends -->
            </div>
            <!-- btn and links ends here -->               
            
            <!-- JOb description starts here -->

            <div class="job-descrip">
                <div class="detail"><h3>Job No. :<span style="margin-left:20px; color:black;">{{job.job_no}}</span></h3></div>
                <div class="detail"><h3>Profession :<span style="margin-left:20px; color:black;">{{job.profession}}</span></h3></div>
                <div class="detail"><h3>Employement Type :<span style="margin-left:20px; color:black;">{{job.category}}</span></h3></div>
                <div class="detail"><h3>Company :<span style="margin-left:20px; color:black;">{{job.cname}}</span></h3></div>
            </div>
            <!-- job description ends here -->

            <div class="Responsibilities">
            
            <div class="head"><h1>Job Description</h1></div>
            <div class="description"><ul>
            <li>Contribute to a growing partner enablement program with technical guidance, business insights, and customer engagement collaborations</li>
            <li>Develop and drive a business rhythm with channel partners to track and support strategic customer opportunities</li>
            <li>Work with partners in product marketing and field sales to incorporate customer/partner feedback into marketing programs and sales strategies</li>
            <li>Design, create, and curate customer/partner success metrics and dashboards to measure program KPIs</li>
            <li>Navigate and negotiate potentially complex business scenarios in order to prioritize customer choice and equitable partner opportunities</li>
            <li>Thoughtful and well-communicated product feedback to engineering that grows customer and partner value in the online service</li>
            </ul></div>
            </div>

            <div class="requirements">
                <div class="head"><h1>Requirements</h1></div>
                <div class="description"><ul><li>{{job.requirements}}</li>
                <li>Experience ...</li>
                <li>Academics ...</li>
                <li>Other Skills ...</li>
                
                </ul></div>
            </div>
            </div>
            <!-- left container ends here -->

            <!-- right container starts here-->
            <div class="right-container">
                <div class="col-1">
                    <div class="head"><h1>Life At {{job.cname}}</h1></div>
                    <div class="work-life">
                        <img src="{% static 'images/corporate.jpeg'%}" alt=""/>
                    </div>
                </div>


                <div class="col-2">
                    <div class="head"><h1>Recommended Jobs<h1></div>
                    {% for i in jobs %}
                    <div class="head"><h3 style="font-family:'Poppins', sans-serif; margin-left:20px;">{{i.jname}}<span style="margin-left:150px; font-size:0.8em; color:#666666;">( {{i.cname}} )</span><h3></div>
                    {% endfor %}                
                </div>


                <div class="col-3"></div>            
            </div>
            <!-- right container ends here-->
        </div>
        <!-- main container ends here -->

        <div class="pre-footer"><h4 style="font-family:'Poppins', sans-serif; margin-left:50%;">PLACEHOLDER CONTENT</h4></div>
        <!-- footer here -->
<footer class="footer-container">
      <!-- todo ROW-1 -->
      <div class="footer_row-1">
        <!-- todo ROW-1-COL-1 -->
        <div class="row_1-col-1">
          <div class="footer-menu-container">
            <!-- menu-1 -->
            <div class="footer-menu">
              <h1>About</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-1 END -->

            <!-- menu-2 -->
            <div class="footer-menu">
              <h1>Blog</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-2 END -->

            <!-- menu-3 -->
            <div class="footer-menu">
              <h1>Services</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-3 END -->

            <!-- menu-4 -->
            <div class="footer-menu">
              <h1>Help</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-4 END -->
          </div>
        </div>

        <!-- todo ROW-1-COL-2 -->
        <div class="row_1-col-2">
          <h1>Contact Us</h1>
          <a href="#">abc@gmail.com</a>
          <a href="tel:+916394915220">+91 9854XXX588</a>
          <div class="social-icons">
            <a href="#"><img src="{% static 'images/Assets/icons/linkedin.svg' %}" alt="" /></a>
            <a href="#"><img src="{% static 'images/Assets/icons/twitter.svg' %}" alt="" /></a>
            <a href="#"><img src="{% static 'images/Assets/icons/fb.svg' %}" alt="" /></a>
            <a href="#"><img src="{% static 'images/Assets/icons/insta.svg' %}" alt="" /></a>
          </div>
        </div>
      </div>
      <!-- ILLUS -->
      <div class="footer-ILLUS">
        <img
          src="{% static 'images/Assets/illustrations/girl-bike-4cdb8ceabab074fbf64ca1c989fb3f78.svg' %}"
          alt=""
        />
        <img src="{% static 'images/Assets/illustrations/download.svg' %}" alt="" />
        <hr />
      </div>
      <!-- todo ROW-2 -->
      <div class="footer_row-2">
        <div class="row-2-col-1">
          <a href="#">Terms of use</a>
          <a href="#">Licence agreement</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Application affirmations</a>
        </div>
        <div class="row-2-col-2">
          <p>© <span id="footer-date"></span> edu-Slog, Inc</p>
        </div>
      </div>
    </footer>
        <!-- footer ends here -->
        <script src="" async defer></script>
    </body>
</html>