{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Explore Job Opportunities From Allover The World | Eduslogg</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/jobs.css' %}">
		<link rel="stylesheet" href="{% static 'styles/dropdown.css' %}">

	</head>
	<body>
<!--  -------------------------------NAVBAR----------------------------------- -->
<div class="fixed z-10 flex w-full px-20 py-4 bg-white p-auto space-between">
	<!-- image container -->
	<div class="flex items-center w-2/12">
	  <img
		src="{% static 'images/Assets/logo/edu-Slogg.svg' %}"
		alt="eduSlogg-logo"
	  />
	</div>
	<!-- Nav Links -->
	<div
	  class="flex items-center justify-center w-2/3 gap-8 font-normal text-gray-400 "
	>
	  <div><a href="{% url 'institutes' %}">Find a Institute</a></div>
	  <div><a href="{% url 'jobportal' %}">Find a Job</a></div>
	  <div><a href="{% url 'career' %}">Careers Portal</a></div>
	  <div><a href="{% url 'event' %}">Events</a></div>
	  <div><a href="{% url 'faq' %}">FAQ</a></div>
	</div>
	<!-- Login & Log out btns -->
	<div class="flex items-center justify-end w-2/12 gap-5">
	  <div>
		<a href="{% url 'login' %}" style="color: #5ac817">Log In</a>
	  </div>
	  <div>
		<form action="{% url 'register' %}">
		  <button
			class="px-8 py-1 pb-2 text-white rounded-full"
			style="background-color: #5ac817"
		  >
			<span>Sign Up</span>
		  </button>
		</form>
	  </div>
	</div>
  </div>
  <!--  -------------------------------NAVBAR---------------END-------------------- -->
  <div style="background-image: url('{% static 'images/Assets/illustrations/instituteback.jpg' %}');" class="px-20 dashboard-container p-auto">

	<div class="flex items-center w-full gap-3 pt-5">
		<div class="w-4/12 text-2xl font-bold text-white poppins-font ">Explore Job Opportunities from all over the world</div>
		<div class="relative w-full">
			<span class="absolute inset-y-0 left-3 top-4 ">
			  <svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-6 h-6 text-white opacity-90"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			  >
				<path
				  stroke-linecap="round"
				  stroke-linejoin="round"
				  stroke-width="2"
				  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
				/>
			  </svg>
			</span>
			<input
			  class="w-full px-4 py-4 pl-12 text-green-900 bg-white rounded-full outline-none opacity-50 caret-green-400 poppins-font input-bar__tab"
			  type="text"
			  placeholder="Search by name, field or name of corporation..."
			/>
		  </div>
	
  </div>
  <!-- -------------------------------Top bar End---------------------------------- -->
  <div class="flex justify-between w-full gap-2 mt-4 ">
	<!-- Col-1 Dashboard -->
	<div class="flex flex-col justify-center w-4/12 gap-4 p-5 text-lg bg-white border border-gray-300 divide-y divide-gray-200 shadow-lg rounded-2xl poppins-font">
	  <!-- CHEECKBOX -->
	  <div class="flex items-center justify-between ">
		<div class="">Playschool & Highschools</div>
		<input type="checkbox" class="w-4 h-4 rounded focus:ring-4 focus:ring-blue-500 ring-offset-2 form-checkbox">
	  </div>
	  <div class="flex items-center justify-between pt-3 divide">
		<div>Colleges & Universities</div>
		<input class="w-4 h-4 rounded focus:ring-4 focus:ring-blue-500 ring-offset-2 form-checkbox" type="checkbox" name="" id="">
	  </div>
	  <!-- CHEECKBOX===END -->
	  <!-- SEARCHBOX -->
	  <div class="flex items-center pt-3 divide">
		<div class="w-5/12">Location :</div>
		<input class="w-full p-2 border border-gray-100 rounded-lg shadow outline-none" type="search" name="" id="">
	  </div>
	  <!-- SEARCHBOX===END -->
	  <!-- DROPDOWN-1 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Field of study</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--1====ENDSSS -->
	  <!-- DROPDOWN-2 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Institute Level</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--2====ENDSSS -->
	  <!-- DROPDOWN-3 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Institute Type</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--3====ENDSSS -->
	  <!-- DROPDOWN-4 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Institue Setting</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--4====ENDSSS -->
	  <!-- DROPDOWN-5 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Scholarships</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--5====ENDSSS -->
	  <!-- DROPDOWN-6 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Specialised Category</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--6====ENDSSS -->
	  <!-- DROPDOWN-7 -->
	  <div class="flex flex-col gap-2 pt-3">
		<div>Field of Interests</div>
		<div class="container__drop">
		  <select aria-placeholder="select" multiple data-multi-select-plugin>
			  <option value="--Select--" disabled selected>Hilux</option>
			  <option value="Corsa">Corsa</option>
			  <option value="BMW">BMW</option>
			  <option value="Ferrari">Ferrari</option>
		  </select>
		</div>
	  </div>
	  <!-- DROPDOWN--7====ENDSSS -->

	</div>
	<!-- Col-2 Dashboard---------------------------------- -->
	<!-- card -->
	<div class="grid w-full grid-cols-3 gap-3 auto-rows-min ">
	  {% for job in jobs %}
	  <div class="college-card">
		<!--flip card-->
		<div class="flip-card">
		<!-- inner card-->
		<div class="college-card-inner">
		<div class="card-image">
		<img class="profile-photo" src="{{job.imageURL}}" alt="college photo"/>
		</div>
		<!--card-back-->
		<div class="flip-card-back">
			<h1 style="font-size:1.8em">Requirements</h1>
			<p>{{job.requirements}}</p>
	  
			<h1 style="font-size:1.4em">Location</h1>
			<p>{{job.location}}</p>
		  </div>
		<!--back ends--> 
		</div>
		<!--inner ends-->
		</div>
		<!--flip card ends-->
	  
		<!-- card container-->
		<div class="card-content">
		<!--head container div-->
	  
		<div class="head-container">
		<div class="px-5 pt-4 text-center name-div">
		<h3 class="text-xl font-bold text-gray-500">{{job.jname}}</h3>
		<h3 class="text-xl font-bold text-gray-500">{{job.cname}}</h3>
		</div>
		<div class="location-div">
		<h4 class="text-sm font-normal text-gray-500">{{job.location}}</h4>
		</div>
		</div>
		<!--head container div ends-->
	  
		<!-- foot container div-->
		<div class="flex items-center justify-between px-5 foot-container">
		  <button class="text-sm font-medium poppins-font light-green focus:text-green-800">View</button>
		  <button class="px-8 text-sm font-medium text-white rounded-full h-9 poppins-font light-green-bg focus:ring">Apply</button>
		</div>
		<!--foot container div ends-->
		</div>
		  <!-- card container ends-->
		</div>
		{% endfor %}
	</div>
	<!-- Card end -->
  </div>


  </div>
<script defer src="{% static 'js/institute.js' %}" ></script>
	</body>
	</html>