
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{institute.name}} | EduSlogg</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/privateins.css' %}">
  </head>
  <body>
    <div class="container">
      <!--HERO-->
      <div class="hero">
      <img src="{{institute.profileURL}}"/>
      </div>
<!--navbar-->
    <div class="navbar">
	  <div class="container-1">
	  	<div class="row-1">
		<div class="options"><a href="{% url 'home' %}">Home</a></div>
		<div class="options"><a href="{% url 'institutes' %}">Find A College</a></div>
		<div class="options"><a href="{% url 'jobportal' %}">Find A Job</a></div>
		<div class="options"><a href="{% url 'career' %}">Career Portal</a></div>
		<div class="options"><a href="{% url 'blog' %}">Blogs & News</a></div>
		<div class="options"><a href="#">FAQ</a></div></div>
	  
	</div>

	  <div class="container-2">
	  	<div class="row-2">
	   	<form action="{% url 'register' %}">
            <button class="btn btn-1" type='submit'>Sign Up</button>
          </form>
          <form action='{% url 'login' %}'>
            <button class="btn btn-2" type='submit'>Log In</button>
          </form>
		</div>
	 </div>
	</div>
<!--navbar ends-->

  <div class="col-name"><h1>{{institute.name}}</h1></div>
        <div class="label-container">
        {% for i in labels %}
        <div class="institute-summary"><p>{{i.name}}</p></div>  
        {% endfor %}
        </div>
        <div class="apply-btn">
                <form action='{% url 'login' %}'>
                    <button class="btn btn-2" id="apply-btn" type='submit'>Apply for {{institute.name}}</button>
                </form>
        </div>

    </div>
<!--container starts-->    
<div class="at-a-glance">
    <div class="desc-1">
        <p> Gautam Buddha University is a university established by the Uttar Pradesh Gautam Buddha University Act 2002 and came into existence in 2008. It is approved by University Grants Commission under section 12-B and accredited by National Assessment and Accreditation Council with B+ grade.</p>
     <div class="gal-div">
        <div class="gallery">
            <img class="gal" src="{{institute.profileURL}}"/>
        </div>

        <div class="view-gal"><button class="btn btn-2" id="view-gal-btn" type='submit'>View Gallery</button></div>
      </div>  
    </div>
    <div class="desc-2">
        <div class="heading">{{institute.category}} At A Glance</div>

    <div class="card-container">
        <div class="rank">
        <div class="head">QS RANK</div>
        <div class="cont"><h2>{{institute.qsrank}}</h2></div>
        </div>

        <div class="rank">
        <div class="head" style="margin-left:45px; margin-top:10px;">Enrolled Students</div>
        <div class="cont"><h2>{{enrolled_students}}</h2></div>
        </div>

        <div class="rank">
        <div class="head">Programs</div>
        <div class="cont"><h2>{{total_programs}}</h2></div>
        </div>

        <div class="rank">
        <div class="head">M:F Ratio</div>
        <div class="cont"><h2>{{institute.sexratio}}</h2></div>
        </div>

   </div>
</div>
</div>
<!-- container ends-->

<!-- second row of content starts from here-->
    <div class="division-2"></div>










    <script src="" async defer></script>
  </body>
</html>