
{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{institute.name}} | EduSlogg</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/privateins.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="container">
      <!--HERO-->
      <div class="hero">
      <img src="{{institute.profileURL}}"/>
      </div>
<!--navbar-->
    <div class="navbar">
	  <div class="container-1">
	  	<div class="row-1">
		<div class="options"><a href="{% url 'home' %}">Home</a></div>
		<div class="options"><a href="{% url 'institutes' %}">Find A College</a></div>
		<div class="options"><a href="{% url 'jobportal' %}">Find A Job</a></div>
		<div class="options"><a href="{% url 'career' %}">Career Portal</a></div>
		<div class="options"><a href="{% url 'event' %}">Events</a></div>
		<div class="options"><a hhref="{% url 'faq' %}">FAQ</a></div></div>
	  
	</div>

	  <div class="container-2">
	  	<div class="row-2">
	   	<form action="{% url 'register' %}">
            <button class="btn btn-1" type='submit'>Sign Up</button>
          </form>
          <form action='{% url 'login' %}'>
            <button class="btn btn-2" type='submit'>Log In</button>
          </form>
		</div>
	 </div>
	</div>
<!--navbar ends-->

  <div class="col-name"><h1>{{institute.name}}</h1></div>
        <div class="label-container">
        {% for i in labels %}
        <div class="institute-summary"><p>{{i.name}}</p></div>  
        {% endfor %}
        </div>
        <div class="apply-btn">
                <form action='{% url 'login' %}'>
                    <button class="btn btn-2" id="apply-btn" type='submit'>Apply for {{institute.name}}</button>
                </form>
        </div>

    </div>
<!--container starts-->    
<div class="at-a-glance">
    <div class="desc-1">
        <p> Gautam Buddha University is a university established by the Uttar Pradesh Gautam Buddha University Act 2002 and came into existence in 2008. It is approved by University Grants Commission under section 12-B and accredited by National Assessment and Accreditation Council with B+ grade.</p>
     <div class="gal-div">
        <div class="gallery">
            <img class="gal" src="{{institute.profileURL}}"/>
        </div>

        <div class="view-gal"><button class="btn btn-2" id="view-gal-btn" type='submit'>View Gallery</button></div>
      </div>  
    </div>
    <div class="desc-2">
        <div class="heading">{{institute.category}} At A Glance</div>

    <div class="card-container">
        <div class="rank">
        <div class="head">QS RANK</div>
        <div class="cont"><h2>{{institute.qsrank}}</h2></div>
        </div>

        <div class="rank">
        <div class="head" style="margin-left:45px; margin-top:10px;">Enrolled Students</div>
        <div class="cont"><h2>{{enrolled_students}}</h2></div>
        </div>

        <div class="rank">
        <div class="head">Programs</div>
        <div class="cont"><h2>{{total_programs}}</h2></div>
        </div>

        <div class="rank">
        <div class="head">M:F Ratio</div>
        <div class="cont"><h2>{{institute.sexratio}}</h2></div>
        </div>


   </div>
</div>
</div>
<!-- container ends-->

<!-- second row of content starts from here-->
<div class="division-2">

<div class="program-head"><h2>Available <span style="color:rgba(19, 109, 211, 0.911)">Programs</span></h2></div>     

<div class="card-container">
{% for program in programs %}
<div class='neomorph-card'>
  <div class='box'>
    <div class='text'>
      <h1>{{program.name}}</h1>
      <p>Colour contrast between text and background is important on web pages. It affects some people’s ability to perceive the information (in other words to be able to receive the information visually).</p>
    </div>
    <div class='neo-btn'>
      <div class='tooltip'>
        <a href='https://accessibility.blog.gov.uk/2016/06/17/colour-contrast-why-does-it-matter/' target="_blank" class='cta'>
          read more
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="button-div">

            <a href="{% url 'home' %}" class="cta-2">
                    <span>View All Programs</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
            </a>

        </div>
</div>
</div>

<!-- second row ends here -->

<div class="division-2">

<div class="program-head"><h2>Available <span style="color:rgba(19, 109, 211, 0.911)">Scholarships</span></h2></div>     

<div class="card-container">
{% for scholarship in scholarships %}
<div class='neomorph-card'>
  <div class='box'>
    <div class='text'>
      <h1>{{scholarship.name}}</h1>
      <p>Colour contrast between text and background is important on web pages. It affects some people’s ability to perceive the information (in other words to be able to receive the information visually).</p>
    </div>
    <div class='neo-btn'>
      <div class='tooltip'>
        <a href='https://accessibility.blog.gov.uk/2016/06/17/colour-contrast-why-does-it-matter/' target="_blank" class='cta'>
          read more
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

        <div class="button-div">

            <a href="{% url 'home' %}" class="cta-2">
                    <span>View All Scholarships</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
            </a>

        </div>
</div>
<!--card container ends here-->

</div>
</div>
</div>

<!-- event section starts here -->
<div class="events-section">
<div class="program-head"><h2>Upcoming <span style="color:rgba(19, 109, 211, 0.911)">Events</span></h2></div> 
<div class="event-cards">
{% for event in events%}
<!-- event card starts here -->
<div class="container-card">
  
  <div class="card-media">
    <!-- media container -->
    <div class="card-media-object-container">
      <div class="card-media-object" style="background-image: url(https://s9.postimg.cc/y0sfm95gv/prince_f.jpg);"></div>
      <span class="card-media-object-tag subtle">Selling Fast</span>
    </div>
    <!-- body container -->
    <div class="card-media-body">
      <div class="card-media-body-top">
        <span class="subtle">Mon, APR 09, 7:00 PM</span>
        <div class="card-media-body-top-icons u-float-right">
          <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
          </svg>
          <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
      </div>
      <span class="card-media-body-heading">{{event.name}}</span>
      <div class="card-media-body-supporting-bottom">
        <span class="card-media-body-supporting-bottom-text subtle">{{institute.name}}, {{institute.location}}</span>
        <span class="card-media-body-supporting-bottom-text subtle u-float-right">Free &ndash; $30</span>
      </div>
      <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
        <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">VIEW TICKETS</a>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
  
</div>
<!--event card ends here -->
</div>
<!--event row ends here -->
</div>
<!-- event section ends here -->

<!-- premium and contact div startes from here-->
<div class="premium">
    <div class="program-head" id="premium-head"><h2>Premium <span style="color:rgba(19, 109, 211, 0.911)">Services</span></h2></div>
    
<div class="services">
{% for service in premiums %}    
<div class='neomorph-card'>
  <div class='box' id="service-card">
    <div class='text'>
      <h1>{{service.name}}</h1>
      <p>Colour contrast between text and background is important on web pages. It affects some people’s ability to perceive the information (in other words to be able to receive the information visually).</p>
    </div>
    <div class='neo-btn'>
      <div class='tooltip'>
        <a href='https://accessibility.blog.gov.uk/2016/06/17/colour-contrast-why-does-it-matter/' target="_blank" class='cta'>
          Apply
        </a>
      </div>
    </div>
  </div> 
</div>
{% endfor %}
</div>
<!-- serive tag ends -->
</div>
<!-- premium and contact div ends here-->

<!-- institute contact starts-->
<div class="ins-contact">
<div class="column-1">
<div class="visit-head"><h1>Visit Us</h1></div>
<div class="visit-body"><p>We look forward to sharing our beautiful campus with you! Our office hours are officially Monday – Friday 8:00 – 5:00 PM (AKST). 
Please bear in mind that depending on campus events, other requests and staff availability, certain times or dates may not be available. Upon submission your request will be reviewed. We will do our best to accommodate the preferences you list below. An admissions team member will reach out to you to confirm the final date and time of your visit. See <span style="font-family:Roboto;">{{institute.email}}</bold> to set up a tour!</p></div> 
</div>
<div class="column-2">
<div class="contact-head"><h1>Admission Office</h1></div>
<!-- sub body starts here -->
<div class="sub-con-soc">
<div class="contact-body">
<h4>Email: <span style="font-size:1.3em; font-family:Roboto;">{{institute.email}}</span></h4>
<h4>Phone No.: <span style="font-size:1.3em; font-family:Roboto;">{{institute.phone}}</span></h4>
<h4>Address: <span style="font-size:1.3em; font-family:Roboto;">Placeholder for Address</span></h4>
</div>
<div class="social">
<div style="padding-left:60px; font-size:1.2em; padding-bottom:20px; font-family:Roboto;">
<h3>Follow {{institute.name}}</h3>
</div>
<div class="social-body">
<!-- social buttons starts -->
        <div class="social-container">
  <button class="social-btn">
    <i class="fa fa-facebook" style="font-size:35px;"></i>
  </button>
  <button class="social-btn">
    <i class="fa fa-instagram" style="font-size:35px;"></i>
  </button>
  <button class="social-btn">
    <i class="fa fa-twitter" style="font-size:35px;"></i>
  </button>
</div>
<!-- social buttons ends -->
</div>
</div>
</div>
<!-- sub body ends here -->
</div>
</div>
<!-- institute contact ends-->

<!-- FOOTER STARTS-->
{% include 'app1/footer.html' %}
<div class="footer">
    {% block content %}

    {% endblock %}
</div>
<!-- FOOTER ENDS-->
    <script src="" async defer></script>
  </body>
</html>

