{% load static %}
{% include 'app1/navbar.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/career.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="navbar">
            {% block content %}

            {% endblock %}
        </div>

        <!-- hero starts here-->
        <div class="hero" style="background-image:url('{% static 'images/career-hero.jpg' %}">
                <h1>Take Career Oriented Courses To Build Your Professional Future</h1>

                <h3>Experience A New and Interesting Way of Learning With Alot Of Practical Emphasization</h3>

                <div class="button-wrapper">
                <button>EXPLORE CAREERS COURSES</button>
                <button>KNOW ABOUT COURSES</button>
                </div>
        </div>
        <!-- hero ends here -->
        <!-- slider starts here -->  
        <div class="slide-container">
            <div class="slide-content"></div>  
            <div>
            <div class="myslider">
             <div class="item a">h1</div>
             <div class="item b">
               h2</div>
             <div class="item c">
               h3</div>
            </div>
            </div>
        </div>
        
        <script src="{% static 'js/career.js' %}" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    </body>
</html>