{% load static %}
{% include 'app1/navbar.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/career.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="navbar">
            {% block content %}

            {% endblock %}
        </div>

        <!-- hero starts here-->
        <div class="hero" style="background-image:url('{% static 'images/career-hero.jpg' %}">
                <h1>Take Career Oriented Courses To Build Your Professional Future</h1>

                <h3>Experience A New and Interesting Way of Learning With Alot Of Practical Emphasization</h3>

                <div class="button-wrapper">
                <button>EXPLORE CAREERS COURSES</button>
                </div>
        </div>
        <!-- hero ends here -->
        <!-- slider starts here -->  
        <div class="slide-container">
        <div class="slider-content">
                <div class="slider-card">
                <h2>DISCOVER COURSES AND COMPLETE THEM TO GAIN EXPERTISE IN SKILLS TO DEVELOP FASTER AND STAY UPADATED</h2>
                <div class="button-wrapper">
                <button style="margin-left:-190px;">KNOW ABOUT COURSES</button>
                </div>
                </div> 
        </div>
        <!-- slider content ends here -->

        <!-- slider card starts here -->
            <div class="slide-slider"> 
            <div class="myslider">
             <div class="item a">
                <img src='https://d2o2utebsixu4k.cloudfront.net/assets/images/Advanced-Analytics.png' alt=''/>
                <div class="slider-head"><h4>Career Oriented Programs</h4></div>
                <div class="para"><p>Learn from our skills based programs that have curriculum based on your requirements for your desired careers. </p></div>
             </div>
             <div class="item b">
               <img src='https://d2o2utebsixu4k.cloudfront.net/assets/images/Blended-Learning.png' alt=''/>
               <div class="slider-head"><h4>Level Based Structure</h4></div>
               <div class="para"><p>Experience new way of level based learning to gain experience and knowledge with live tests, mock intervies and mini projects etc aligned according to level of difficulty</p></div>
               </div>
               
             <div class="item c">  
                <img src='https://d2o2utebsixu4k.cloudfront.net/assets/images/Training-by-Practitioners.png' alt=''/>
                <div class="slider-head"><h4>Work Like Experience</h4></div>     
                <div class="para"><p>Product developement experience with real team consists of other portal users of their respective skills which will give you work like experience.</p></div>          
               </div>
            </div>
            </div>
        </div>
        <!-- sllider ends here -->

        <!-- opportunity box startes here -->
        <div class="opportunity">
            <div class="opp-head"><h2>JOIN TEAMS AND WORK ON REAL LIFE PROJECTS</h2></div>
            <div class="opp-para"><p>Already completed your career journey enough to work on real life problems ? <br>
            Book yourself an interview slot right now, join a team where you are needed and show your excellence</p></div>

            <div class="opp-button">
                <div class='opp-btn-cont'>
                  <a class='opp-btn' href='#'>
                    Book A Slot Now
                    <span class='line-1'></span>
                    <span class='line-2'></span>
                    <span class='line-3'></span>
                    <span class='line-4'></span>
                  </a>
                </div>
            </div>
        </div>

        <!-- oppportunity box ends here -->

        <div class="career-container">
            <div class="career-head"><h1>Discover Your Desired Careers</h1></div>

            <div class="career-search">
            <!-- searh bar -->
                <div class='search-container'>
                    <input type="text" id="searchInput" placeholder="Search 100+ Careers">
                    <div id='submitsearch'
                      style="">
                      <span>Search</span>
                    </div>
                    <a href="#">View All Careers</a>
                 </div>

            </div>
                <!-- search bar ends -->
            <div class="career-careers">
                {% for career in careers %}
                <div class="course">
	        	<div class="course-preview">
	        		<h6>Career</h6>
	        		<h2>{{career.name}}</h2>
	        		<a href="#">View All Levels <i class="fas fa-chevron-right"></i></a>
	        	</div>
	        	<div class="course-info">
	        		<div class="progress-container">
	        			<div class="progress"></div>
	        			<span class="progress-text">
	        				0/{{career.total_levels}} levels
	        			</span>
	        		</div>
	        		<h6>LEVEL 1</h6>
	        		<h2>Prerequisite & Basics </h2>
                    <form action="{% url 'levelbased' career.id %}">
	        		<button class="con-btn" type="submit">Start</button>
                    </form>
	        	</div>
	        </div>
            {% endfor %}
        </div>
        </div>
        <!-- career container ends here -->

        <!--separator starts here -->
        <div class="separator">
            <div class="separator-head"><h1>Get Certified For Your Skills</h1></div>
            <div class="separator-para">
            <p>Increase your expertise in skills with certifications and upgrade your resume via global bodies</p>
            </div>
        </div>

        <!--separator ends here -->

        <!-- courses starts from here -->
        <div class="course-container">
            <div class="course-head"><h2>Our Skill Booster Courses</h2></div>
            <div class="course-sub-head"><h3>Discover Courses for particular skills to boost your career journey</h3></div>
            <!-- card starts here -->
            <div class="career-careers">
                {% for course in courses %}
                <div class="course">
	        	<div class="course-preview">
	        		<h6>Course</h6>
	        		<h2>{{course.name}}</h2>
	        		<a href="#">View All Levels <i class="fas fa-chevron-right"></i></a>
	        	</div>
	        	<div class="course-info">
	        		<div class="progress-container">
	        			<div class="progress"></div>
	        			<span class="progress-text">
	        				status
	        			</span>
	        		</div>
	        		<h6>{{course.category}}</h6>
	        		<h2>{{course.price}} </h2>
	        		<button class="con-btn">Buy</button>
	        	</div>
	        </div>
            {% endfor %}
        </div>

            <!-- cards ends here -->
        </div>
        <!-- courses ends from here -->

            <!-- separator - 2-->
            <div class="separator">
                <div class="separator-head" style="margin-left:70px; margin-right:70px; margin-bottom:50px;"><h2 style="margin-top: 20px; margin-left: 20px; font-weight:900;">WHAT YOU WAITING FOR , JOIN US AND MAKE YOUR PROFESSIONAL JOURNEY MORE INTERESTING AND PEREFCT YOUR SKILLS SUITABLE AS MARKET EVOLVES</h2></div>
            
            </div>
            <!-- separator - 2 ends here -->
<!-- FOOTER STARTS FROM HERE-->        
<footer class="footer-container">
      <!-- todo ROW-1 -->
      <div class="footer_row-1">
        <!-- todo ROW-1-COL-1 -->
        <div class="row_1-col-1">
          <div class="footer-menu-container">
            <!-- menu-1 -->
            <div class="footer-menu">
              <h1>About</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-1 END -->

            <!-- menu-2 -->
            <div class="footer-menu">
              <h1>Blog</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-2 END -->

            <!-- menu-3 -->
            <div class="footer-menu">
              <h1>Services</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-3 END -->

            <!-- menu-4 -->
            <div class="footer-menu">
              <h1>Help</h1>
              <a href="#">Link-1</a>
              <a href="#">Link-2</a>
              <a href="#">Link-3</a>
              <a href="#">Link-4</a>
              <a href="#">Link-5</a>
              <a href="#">Link-6</a>
            </div>
            <!-- menu-4 END -->
          </div>
        </div>

        <!-- todo ROW-1-COL-2 -->
        <div class="row_1-col-2">
          <h1>Contact Us</h1>
          <a href="#">abc@gmail.com</a>
          <a href="tel:+916394915220">+91 9854XXX588</a>

        </div>
      </div>
      <!-- ILLUS -->
      <div class="footer-ILLUS">
        <img
          src="{% static 'images/Assets/illustrations/girl-bike-4cdb8ceabab074fbf64ca1c989fb3f78.svg' %}"
          alt=""
        />
        <img src="{% static 'images/Assets/illustrations/download.svg' %}" alt="" />
        <hr />
      </div>
      <!-- todo ROW-2 -->
      <div class="footer_row-2">
        <div class="row-2-col-1">
          <a href="#">Terms of use</a>
          <a href="#">Licence agreement</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Application affirmations</a>
        </div>
        <div class="row-2-col-2">
          <p>© <span id="footer-date"></span> edu-Slog, Inc</p>
        </div>
      </div>
    </footer>
    <!-- !FOOTER ENDS---=> -->

        <script src="{% static 'js/career.js' %}" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    </body>
</html>