{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/levelpage.css' %}">
    </head>
    <body>
    
        <!--BREADCRUBMS-->
        <div class="breadcrumb">
            <a href="#">Level Portal</a>
            <i class="arrow right"></i>
            <a href="#">{{level.name}}</a>
        </div>
        <!--BREADCRUBMS ENDS -->

        <!-- LEVEL & HELLO -->
        <div class="level-bar">
            <div class="level-topic">
                <h1>{{level.Topic}}</h1>
            </div>
            <div class="hello-user">
            <p>HELLO USER</p>
            </div>
        </div>
        <!-- LEVEL & HELLO ENDS -->

        <!-- FILTERS -->
            <div class="filters"></div>
        <!-- FILTERS ENDS HERE -->
        <!-- MAIN CONTAINER -->
            <div class="main-container">
                {% for problem in problems %}
                    <p>{{problem.problem}}</p>
                {% endfor %}
            </div>
        <!-- MAINE CONTAINER ENDS HERE-->

        <!-- RELATED COURSE -->
        <div class="related-course"></div>
        <!-- RELATED COURSE ENDS HERE-->
        <script src="" async defer></script>
    </body>
</html>
