@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.navbar a:hover{
    color:black
}
.hero{
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 100%;
    margin-top:-100px;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        
}

.hero h1{
    font-family: "Poppins", sans-serif;
    font-size: 2.8em;
    margin-left: 48%;
}

.hero h3{
    padding-top: 20px;
    margin-left: 48%;
    font-size: 1.4em;
    
    font-family: "Poppins", sans-serif;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 45%;
    height: 60px;
    width: max-content;
}

.button-wrapper button {
    
    border: 1px solid black;
    outline: 0;
    display: inline-block;

    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border: 5px solid black;
    margin-left: 50px;
    font-size: 10pt;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  
  .button-wrapper button:hover {
    background-color: transparent;
    color: black;
    border: 5px solid black;
    font-weight: bold;
  }

  /* HERO ENDS HERE  */

  /* SLIDER */

  .slide-container{
      
      display: flex;
      flex-direction: row;
      height: 800px;
      width: 100%;
  }

  .slider-content{
      height: inherit;
      width: 50%;
      background-color: white;
  }
  
  .slider-card{
      height: 600px;
      width: 500px;
      background-color:#f7f7f7;
      margin-top: 100px;
      margin-left:150px;
  }

  .slider-card h2{

      padding-top: 30px;
      padding-left: 30px;
      font-size: 2.7em;
      font-family: "Poppins", sans-serif;
  }
  .slide-slider{
      width: 50%;
      height: inherit;
      background-color: white;
      padding-bottom: 100px;
  }
  .myslider{
      padding-left: 0;

      margin-top: 100px;
      width: 100%;
  }

  .myslider .item {
    height: 400px;
    width: 100%;
    position: relative;
  }

  .myslider .item.c {
    background-color: white;
  }

  .myslider .item.b {
    background-color: white;
  }

  .myslider .item.a {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .slider-head h4{
    color: rgb(9, 9, 59);
    margin-left: 30px;
    margin-top: 325px;
    font-size: 2.2em;
    font-weight: 200;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
    width: max-content;
    border-bottom: 1px solid rgb(9, 9, 59);
  }

  .para p{
    color: rgb(9, 9, 59);
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
  }

  .myslider .item img {
    color: black;
    width: 500px;
    margin: 0 auto;
    max-width: 80%;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  
  .item-container{
      display: flex;
      flex-direction: column;
  }
  .slick-dots {

    padding-right:30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
  }
  .slick-dots li {
    list-style: none;
    margin: 10px 0;
  }
  .slick-dots button {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: none;
    background-color: black;
    text-indent: -9999px;
    outline: 0;
    
  }
  .slick-dots button:hover {
    background-color: #000;
    border-radius: 20px;
    height: 30px;
  }

   .slick-slide {
    height: 500px !important;
  }
  
  /* Slider */
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table;
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    float: right;
    min-height: 1px;
    display: none;
  }
  [dir=rtl] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  
  .slick-arrow.slick-hidden {
    display: none;
  }

  /* SLIDER ENDS HERE */

/* OPPOTUNITY STARTS HERE */

.opportunity{

    margin-left:100px;
    margin-right:100px;
    height: 300px;
    width: 100%;
    background-color: black;
}