@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
colors ->
--#d6d9fc
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* HEader */
.header-main {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.header-container {
  display: flex;
  width: 95%;
  height: 80px;
  border-radius: 20px;
  padding: 0 20px 0 20px;

  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header-child-1 {
  width: 20%;
  display: flex;
  align-self: center;
}
.header-child-1 img {
  width: 50px;
}
.header-child-2 {
  display: flex;
  width: 60%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}
.nav-links {
  text-decoration: none;
  background-color: #ffffff;
  color: #222222;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
}
.nav-links:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
}
.nav-links:active {
  transform: scale(0.8);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.28);
}
.header-child-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 20%;
}
.header-child-3 button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

/* Header end */

.main-body {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  /* background-color: red; */
}
.body-container {
  display: flex;
  width: 95%;
  /* background-color: yellow; */
}

.body-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;

  /* background-color: lightblue; */
}

/* ! Profile section and info */
/* profile section */
/* profile photo section */
.profile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* background-color: green; */
}
.profile-pic-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
h1 {
  font-size: 22px;
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* personal information section */
.profile-info {
  display: flex;
  justify-content: center;
  width: 75%;
  /* background-color: orange; */
}
/*personal information card */
.personal-info-card {
  display: flex;
  flex-direction: column;
  width: 98%;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
hr {
  border: none;
  height: 1px;
  background-color: #dddddd;
}

/* Achivements Poulation */
.achievements-container {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  align-items: center;

  /* background-color: red; */
}
.achievements-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px 2px 5px;
  max-width: auto;
  width: auto;
  height: 20px;
  font-size: 0.6rem;
  border-radius: 5px;
  background-color: yellow;
}
/* Button Design */
.btn-container {
  display: flex;
  gap: 20px;
}
.btn {
  text-decoration: none;
  background-color: #ffffff;
  color: #222222;
  width: 100px;
  height: 40px;
  transition: 0.2s;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
}
.btn:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
}
.btn:active {
  transform: scale(0.8);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.28);
}
/* btn design Ends */
/* ! Profile section and info 
!== ENDS------ */

/* * career and inbox secction */
.career-and-inbox-main {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  /* background-color: aquamarine; */
}
.career-container,
.inbox-container {
  display: flex;
  flex-direction: column;
  width: 49.5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;

  border-radius: 15px;
  padding: 10px;
}
/* .inbox-container {
  display: flex;
  width: 49.5%;
  background-color: darkgoldenrod;
} */
th {
  text-align: left;
}

table {
  border-collapse: collapse;
}

tr  {
    background-color: #ffffff;
  border-bottom: 1px solid rgb(212, 208, 208);
}
/* ! Left container ends */

/* ! Right container */
.body-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  align-items: center;
  /* background-color: lightgreen; */
}
.calender-container {
    display: flex;
    width:95%;
    height:250px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.right-containers{
    display: flex;
    width:95%;
    height:150px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}