

body{
    background-color: #ebeff5;
}


#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}

#header{
    text-align: center;
    /* border: 1px solid chartreuse; */
}

.row{
    /* border: 1px solid salmon; */
    margin-top:20px;
}

#banner-item{
    margin-left: 40%;
}

#button-div{
    float: left;
}