@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* main container starts */

  .main-container{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    background-color: red;
  }
  