@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Cabin Sketch', cursive; */

:root {
  --green: #5ac817;
  --darkgreen: #0b5b3e;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow-x: hidden !important; */
}
/*! Green */
.light-green {
  color: var(--green);
}
.light-green-bg {
  background-color: var(--green);
}
.border-des {
  border: 3.5px solid var(--green);
}
/*! Dark-Green */
.dark-green {
  color: var(--darkgreen);
}
/* lightest green */
.color-bg-light-g {
  background-color: #95cea2;
}
.theme-light-bg{
  background-color: #EBFBD5;
 }
.footer-bg-color {
  background-color: #E9FBD3;
}
.footer-text-color{
  color: #9AB47B;
}

/*! Poppins */
.poppins-font {
  font-family: "Poppins", sans-serif;
}
/*! Cabin Sketch */
.cabin-font {
  font-family: "Cabin Sketch", cursive;
}
/*! Button Gradient */
.btn-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--green),
    var(--darkgreen)
  );
}

/* !=============================================================================================== */

/* .hero__col-1 {
  height: 85vh;
}
.hero__col-2 img {
  width: 100%;
  height: 55vh;
}
.hero-card__btn:focus {
  background-color: var(--green); */
}

/* !=======================TABS STYLING================================================================== */
/* .input-bar__tab {
  width: 65vw;
}
.icon-search {
  top: 8px;
  left: 15px;
}
.filter__tab {
  width: 65vw;
} */





/* * FOOOTER */
.my-footer{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 105px;

}



/* FAQ */
/* -------- */
/* -------- */
  /* Tab content - closed */
  .tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    }
    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
    max-height: 100vh;
    }
    /* Label formatting when open */
    .tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.25rem; /*.text-xl*/
    padding: 1.25rem; /*.p-5*/
    border-left-width: 2px; /*.border-l-2*/
    border-color: var(--green); /*.border-indigo*/
    background-color: #f8fafc; /*.bg-gray-100 */
    color: var(--green); /*.text-indigo*/
    }
    /* Icon */
    .tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    }
    /* Icon formatting - closed */
    .tab input[type=checkbox] + label::after {
    content: "+";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }
    .tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }
    /* Icon formatting - open */
    .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    background-color: var(--green); /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }
    .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    background-color: var(--green); /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }
/* -------- */
/* -------- */
/* FAQ END*/