@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
:root{
  --color1:#0a5fa5;
  --color2: #111;
  --primary: #FFAB9D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
html {
    scroll-behavior: smooth;
  
  }

body{
  padding: 5px;
  background-image: linear-gradient(to top, rgba(8, 77, 98, 0.0), rgba(19, 109, 211, 0.911));
}

.flex-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.nav{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  background-color: inherit;
}

  a {
    text-decoration: none;
    padding-top: 10px;
    margin-top: 10px;
    color: white;
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(18, 29, 122, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: rgba(18, 29, 122, 0.5);
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }

.heading {
  /* background-color: red; */
  width: max-content;
  padding-top: 30px;
  /* font-size: 2.5rem;
  font-weight: 300; */
  color: #ffffff;
}

.heading {
  font-family: 'Georama', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  text-decoration:none;
  color: #ffffff;
}

.head-col{
  width: 65%;
  padding-left: 42%;
  justify-content: center;
}

.main-container{
  padding-top: 75px;
  display: flex;
  width: 100%;
  height: 900px;
  /* border:1px solid black; */
  background-color: inherit;
  justify-content: center;
}

/* .main-container  div{
  margin-left: 20px;
  height: 650px;
  width: 550px;
  border: 5px solid white;
  border-radius: 35px;
  background-color:inherit;
} */

.card1{
  margin-left: 20px;
  height: 650px;
  width: 550px;
  border: 5px solid white;
  border-radius: 35px;
  background-color:inherit;
}

.card-header{
  height: 100px;
  /* border:1px solid black; */
  
}

.card-header h4{
  font-family: monospace;
  /* text-decoration: underline; */
  font-size: 2em;
  font-weight: lighter;
  padding:20px 0 10px 120px;
  color: white;
}

.card-body p{
  color: white;
  word-break: keep-all;
  padding-left: 10px;
  padding-right: 5px;
}

.sub-card{
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  width: 100%;
  /* border:1px solid black; */
}

.career-name{
  height: 100px;
  width:max-content;
  /* border: 1px solid black; */
  padding: 60px 30px 0 40px;
}

.cname{
  font-family: 'Georama', sans-serif;
  font-size: 1.8em;
  color: white;
  /* border:1px solid white; */
  text-decoration: none;
}

.career-btn{
  height: 100px;
  width:max-content;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 15px;
  /* border: 1px solid black; */
}

#cbtn1{
padding-left: 55px;
}

.start-btn{
  height: 50px;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.start-btn.type1 {
  color: #566473;
}
.start-btn.type1.type1::after, .start-btn.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.start-btn.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
.start-btn.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
.start-btn.type1.type1:hover:after, .start-btn.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}
.footer-container {
  width: 100%;
  background-color: inherit;
  /* border: 1px solid black; */
}



