@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Cabin Sketch', cursive; */

:root {
  --green: #5ac817;
  --darkgreen: #0b5b3e;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden !important;
}
/*! Green */
.light-green {
  color: var(--green);
}
.light-green-bg {
  background-color: var(--green);
}
.border-des {
  border: 3.5px solid var(--green);
}
/*! Dark-Green */
.dark-green {
  color: var(--darkgreen);
}
/* lightest green */
.color-bg-light-g {
  background-color: #95cea2;
}
.footer-bg-color {
  background-color: #E9FBD3;
}
.footer-text-color{
  color: #9AB47B;
}

/*! Poppins */
.poppins-font {
  font-family: "Poppins", sans-serif;
}
/*! Cabin Sketch */
.cabin-font {
  font-family: "Cabin Sketch", cursive;
}
/*! Button Gradient */
.btn-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--green),
    var(--darkgreen)
  );
}

/* !=============================================================================================== */

.hero__col-1 {
  height: 85vh;
}
.hero__col-2 img {
  width: 100%;
  height: 55vh;
}
.hero-card__btn:focus {
  background-color: var(--green);
}

/* !=======================TABS STYLING================================================================== */
.input-bar__tab {
  width: 65vw;
}
.icon-search {
  top: 8px;
  left: 15px;
}
.filter__tab {
  width: 65vw;
}

/* !-------------------------Slider--------------- */
.swiper {
  width: 60%;
  height: 400px;
}

.swiper-slide {
  display: flex;
  padding: 10px 20px 10px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(230, 101, 101, 0.7);
  backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(125, 178, 221, 0.7);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(129, 230, 188, 0.7);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(226, 167, 90, 0.7);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}


/* !-------------------------Slider-------------ENDS----- */

/* * FOOOTER */
.my-footer{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 105px;

}
