
body{
    background-image: linear-gradient(to top, rgba(8, 77, 98, 0.0), rgba(19, 109, 211, 0.911));
}

.navbar{
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: inherit;
}

.search-bar{
    display: block;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: inherit;
}
.main-container{
    display: flex;
    flex-direction: row;
    /* height: 800px; */
    width: 100%;
    background-color: inherit;
}

.sidebar{
    height: 100%;
    width: 20%;
    border: 1px solid black;
    background-color: inherit;
}

.submain-box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 80%;
    border: 1px solid black;
    background-color: inherit;
}

.college-card{
    /* margin-top: 30px;
    margin-left: 60px;
    height: 350px;
    width: 350px;
    background-color: lightcoral; */

    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* border:3px solid rebeccapurple;
    padding: 4px; */
    margin: 30px;
}

.card-image{
    height: 250px;
    width: 100%;
    box-sizing:border-box;
    border-radius: 15px;
    background-color: inherit;
}

.card-content{
    height: 100px;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: white;
    border: 1px solid black;
}

.head-container{
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
    background-color:inherit;
}

.name-div{
    height: 100%;
    width: 70%;
    border: 1px solid black;
    background-color:inherit;
}

.location-div{
    height: 100%;
    width: 30%;
    border: 1px solid black;
    background-color: inherit;
}

.foot-container{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    background-color: inherit;
}

.view-div{
    border-radius: inherit;
    height: 100%;
    width: 50%;
    border: 1px solid black;
    background-color: inherit;
}

.apply-div{
    border-radius: inherit;
    height: 100%;
    width: 50%;
    border: 1px solid black;
    background-color: inherit;
}

.profile-photo{
    height: 250px;
    width: 350px;
    border-radius: 15px 15px 0 0;
    object-fit: fill;
}
