@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Cabin Sketch', cursive; */

:root {
  --green: #5ac817;
  --darkgreen: #0b5b3e;
}


.dashboard-container {
  padding-top: 80px ;
  padding-bottom: 30px;

  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;

}
.dashboard-container {
  scrollbar-width: 0;
}
.dashboard-container::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
.dashboard-container::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: RGB(89, 200, 23);
  /* border: 2px solid rgba(9, 112, 9, 0.76); */
}
/*! Green */
.light-green {
  color: var(--green);
}
.light-green-bg {
  background-color: var(--green);
}
.border-des {
  border: 3.5px solid var(--green);
}
/*! Dark-Green */
.dark-green {
  color: var(--darkgreen);
}
/* lightest green */
.color-bg-light-g {
  background-color: #95cea2;
}
.footer-bg-color {
  background-color: #e9fbd3;
}
.footer-text-color {
  color: #9ab47b;
}

/*! Poppins */
.poppins-font {
  font-family: "Poppins", sans-serif;
}
/*! Cabin Sketch */
.cabin-font {
  font-family: "Cabin Sketch", cursive;
}
/*! Button Gradient */
.btn-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--green),
    var(--darkgreen)
  );
}
