@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* main container starts */

  .main-container{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
  }
  
  /* left container starts */
  
  .left-container{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 70%;
    background-color:lavender;
  }
  
  .job-head{
      font-family: "Poppins", sans-serif;
      font-size: 2.6em;
      padding-left: 30px;
  }

  .job-loc{
      font-family: "Poppins", sans-serif;
      font-size: 1.1em;
      padding-left: 30px;
  }

  /* btns and links starts here */
  .btns-links{
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100%;
  }

  .apply-btn{
      height: 100px;
      width: max-content;
  }

  .apply-button{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size:1.3em;
    height: 40px;
    width: max-content;

    background: none;
    border-radius: 0;
    text-align: center;
    padding-bottom: 10px;
    margin:20px 10px 10px 40px;
    background-color: #0067b8;
    border: 1px solid #0067b8;
    cursor: pointer;
  }

  /* save button */
  .save-btn{
    height: inherit;
    width: 20%;
}
  .bookmark {
    background: none;
    border: none;
    padding: 0;
    margin: 5px 0 0 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
  }
  .bookmark:before {
    position: absolute;
    top: 0;
    left: 9px;
    width: 18px;
    height: 19px;
    border-radius: 1px;    
  }
  .bookmark svg {   
    width: 36px;
    height: 36px;
    margin-top: -5px;      
  }
  .bookmark svg path {
    fill: #555555;
  }
  
  /* save button ends */

  .social-link{
    margin-left: 10%;
    height: inherit;
    width: max-content;
    background-color: blanchedalmond;
  }


  /* social links end */
  /* left container ends */
  
  /* right container starts */
  
  .right-container{
    height: 600px;
    width: 30%;
    background-color: coral;
  }

  /* right container ends */