@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    background-image: linear-gradient(to top, rgba(19, 109, 211, 0.4), rgba(19, 109, 211, 0.911));
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    background-color: inherit;
}

.container-1{
    display: flex;
    flex-direction: rows;
    height: inherit;
    width: 70%;
    background-color: inherit;

}

.row-1{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: max-content;
    padding-left: 270px;
}
.container-2{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: 30%;
    background-color: inherit;
}

.row-2{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: max-content;
    padding-left: 200px;
}
.options{
    height: 60px;
    width: max-content;
    background-color: inherit;
    margin-left: 50px;
        
}

.options a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 200;
    color: #ffffff;}

.options a:hover{
    padding-top: 2px;
    border-bottom: 2px solid white;
}

.btn {
    font-family: "Poppins", sans-serif;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
  }
  .btn-1 {
    background-color: #53a5f0;
    color: #ffffff;
    box-shadow: 0 4px 0 0 rgb(16, 102, 182), 0 4px 0px rgba(0, 0, 0, 0.767);
  }
  .btn-1:hover {
    top: 1px;
    box-shadow: 0 4px 0 0 rgb(16, 102, 182), 0 4px 0px rgba(0, 0, 0, 0.767);
  }
  .btn-1:active {
    top: 2px;
    box-shadow: 0 4px 0 0 rgb(16, 102, 182), 0 4px 0px rgba(0, 0, 0, 0.767);
  }
  .btn-2 {
    color: #222222;
    background-color: #ffffff;
    box-shadow: 0px 5px 0px rgb(213, 213, 213), 0px 6px 0px #b8b8b8;
  }
  .btn-2:hover {
    box-shadow: 0px 4px 0px rgb(213, 213, 213), 0px 5px 0px #b8b8b8;
    top: 1px;
  }
  .btn-2:active {
    box-shadow: 0px 3px 0px rgb(213, 213, 213), 0px 4px 0px #b8b8b8;
    top: 2px;
  }

.search-bar{
    display: flex;
    flex-direction: row;    
    height: 100px;
    width: 100%;
    background-color: rgb(20, 109, 168);
    border-bottom: 2px solid white;
    border-top:2px solid white;
}

.explore-clg{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: 30%;
}

.exp{
    height: inherit;
    width: max-content;
    background-color: inherit;
}

.exp h2{
    color: white;
    padding-left: 80px;
    font-family: "Poppins", sans-serif;
}
.exp-img{
    height: 80%;
    width: 30%;
    padding-top: 5%;
    padding-right: 10px;
    background-color: inherit;
}

.map-pic{
    height: inherit;
    width: 100%;
    object-fit: fill;
}
.search-box{
    height: inherit;
    width: max-content;
    /* background-color: rgb(65, 60, 15); */
    
}

.search-box input{
    border: none;
    height: 50px;
    width:700px;
    margin-top: 20px;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 1.2rem;
    outline: none;
}
.search-btn{
    height: inherit;
    width: 20%;

}

#search-btn{
    margin-top: 22px;
    margin-left: 40px;
}
.main-container{
    display: flex;
    flex-direction: row;
    /* height: 800px; */
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 20%;
    background-color: rgb(20, 109, 168);
    padding-right: 15px;
}

#option{
    height: max-content;
    width: 100%;
    background-color: inherit;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.options{
    height: max-content;
    width: max-content;
    padding-top: 30px;

}

.container{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.2em;
}
#location{
    height: 20%;
    width: 100%;
    background-color: inherit;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 10px;
    /* padding-right:-30px; */
    margin-bottom: 20px;
}

#loc{
    margin-left: 25px;
    margin-top: 30px;
    font-size: 1.3em;
}

#loc-search{
    border-radius: none;
    height: 40px;
    width: 280px;
    font-size: 0.9em;
    margin-left: 20px;
}

#loc-btn{
    height: max-content;
    width:max-content;
    margin-top:20px;
    margin-left:10px;
    font-size: 1em;
}
input::-webkit-input-placeholder {
    color: black; /*Change the placeholder color*/
    opacity: 0.3; /*Change the opacity between 0 and 1*/
}

#filters{
    /* border-bottom: 1px solid white; */
    height: max-content;
    width: 100%;
    margin-top: 0px;
    background-color: inherit;
}

#filter{
    /* border: 1px solid black; */
    font-size: 1.2em;
    padding-top:10px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.submain-box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 80%;
    padding-left: 70px;
    background-color: inherit;
}

.college-card{
    /* margin-top: 30px;
    margin-left: 60px;
    height: 350px;
    width: 350px;
    background-color: lightcoral; */

    position: relative;
    width: 350px;
    height: 400px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* border:3px solid rebeccapurple;
    padding: 4px; */
    margin: 20px;
    
}
.flip-card{
    height: 250px;
    width: 100%;
    box-sizing:border-box;
    border-radius: 15px;
    perspective: 1000px;
    
}

.college-card-inner{
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
        text-align: center;
}

.flip-card:hover .college-card-inner {
    transform: rotateY(180deg);
}

.card-image, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    transform: rotateY(180deg);
}

.card-image{
    
    height: 250px;
    width: 100%;
    box-sizing:border-box;
    border-radius: 15px;
}


.card-content{
    height: 150px;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: white;
    /* border: 1px solid black; */
}

.head-container{
    display: flex;
    flex-direction: row;
    height: 55%;
    width: 100%;
    border-radius: 15px;
    background-color:inherit;
    border-bottom: 1px solid black;
}

.name-div{
    height: 100%;
    width: 70%;
    text-align: left;
    padding-left: 10px;
    padding-right: 8px;
    /* padding-top: 3px; */
    margin-bottom: 3px;
    font-family: 'Georama', sans-serif;
    font-size: 1.0em;
    background-color:inherit;
}

.location-div{
    height: 100%;
    width: 30%;
    font-family: 'Georama', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 5px;
    color: rgba(18, 29, 122, 0.5);
    background-color: inherit;
    border-bottom: 1px solid black;
}

.foot-container{
    display: flex;
    flex-direction: row;
    height: 45%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 0 0 15px 15px;
    background-color: inherit;
}
.view-div{
    border-radius: inherit;
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    background-color: inherit;
    padding-left: 50px;
    padding-top: 8px;
}

.apply-div{
    border-radius: inherit;
    height: 100%;
    width: 50%;
    padding-top: 8px;
    /* border: 1px solid black; */
    background-color: inherit;
}

.profile-photo{
    height: 250px;
    width: 350px;
    border-radius: 15px 15px 0 0;
    object-fit: fill;
}
/* button starts */
.view-btn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:5px;
}

.view-btn a{
  text-decoration: none;
  border: 2px solid rgba(18, 29, 122, 0.5);    
  color: rgba(18, 29, 122, 0.5);
  text-transform: uppercase;
  position: relative;
  padding: 3px;
  display: inline-block;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

/* Button 1 styles */

.view-btn a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.view-btn a:hover::before{
  transform: scaleY(0);
}

.view-btn a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
 
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}


.view-btn a:hover::after {
  transform: scaleX(0);
}
/* button ends */
