body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
.nav-container {
    background-color: #68759c;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
  }
  .container-1{
      max-width: 30%;
      width: 30%;
  }
  .container-2{
      max-width:60%;
      width:60%;
  }
  ul{
      display:flex;
      flex-direction: row;
      gap:20px;
      justify-content: center;
      align-items: center;  
      list-style: none;
      font-size: larger;
      
  }
  a{
      text-decoration:none;
      color: #222222;
      color:white;
      font-family: monospace;
      margin-left: 25px;
  }

  a:hover{
    color:bisque;
  }
  .container-3{
      display: flex;
      justify-content: flex-end;
      gap:10px;
      max-width:30%;
      width:30%;
  }
  .Heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}
.Heading h1{
    font-size: 48px;
    font-weight: normal;
    font-family: monospace;
    color:#68759c;
}
.main-container{
    display: flex;
    justify-content: center;
}
.mainChild-1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-direction:column;
    padding: 20px 0 0 20px;
    background-color: #68759c;
}
.mainChild-2{
    display: flex;
    flex-direction: column;
    width:50%;
    padding-left: 50px;
    background-color: #68759c;
    margin-left: 30px;

}
.Subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}
.Subheading h3{
    font-size: 36px;
    font-weight: thin;
    font-family: monospace;
    color:rgb(255, 255, 255);
}
.row{
    /* height: 100px; */
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    /* border: 1px solid white; */
}
p{  font-size: 24px;
    font-family: monospace;
    color:rgb(255, 255, 255);  
}
.btn1{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.btn2{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#side-container{
    background-color: #68759c;
    width: 20%;
    float: left;
    margin-right: 5px;
    height: 400px;
    
}
#b-container{
    
    width: 80%;
    margin-left: 20%;
    margin-top: 10px;

}
#news{
    background-color: #68759c;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;

}
#ads{
    background-color: #68759c;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}
#blog{
    background-color: #68759c;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}
#footer{
    background-color: #68759c; 
    margin-top: 10px;
    height: 500px;   
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
    width: 100%;
    
}

.thumbnail{
	width: 100%;
    height: 120%;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.col-lg-4{
	justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
