
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero {
  height: 900px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar{
  display: flex;
  overflow: hidden;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  /* margin-top:30px; */
  background-color: white;
  opacity: 0.6;
  z-index: 10;
}

.container-1{
  display: flex;
  flex-direction: rows;
  height: inherit;
  width: 70%;
  background-color:  white;
  z-index: 10;

}

.row-1{
  display: flex;
  flex-direction: row;
  height: inherit;
  width: max-content;
  padding-left: 270px;
}
.container-2{
  display: flex;
  flex-direction: row;
  height: inherit;
  width: 30%;
  background-color: inherit;
}

.row-2{
  display: flex;
  flex-direction: row;
  height: inherit;
  width: max-content;
  padding-left: 200px;
}
.options{
  height: 60px;
  width: max-content;
  background-color: inherit;
  margin-left: 50px;
      
}

.options a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

.options a:hover{
  padding-top: 2px;
  border-bottom: 2px solid black;
}

.btn {
  font-family: "Poppins", sans-serif;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 120px;
  height: 40px;
  font-size: 1.1rem;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.btn-1 {
  background-color: #53a5f0;
  color: #ffffff;
  box-shadow: 0 4px 0 0 rgb(16, 102, 182), 0 4px 0px rgba(0, 0, 0, 0.767);
}
.btn-1:hover {
  top: 1px;
  box-shadow: 0 4px 0 0 rgb(16, 102, 182), 0 4px 0px rgba(0, 0, 0, 0.767);
}
.btn-1:active {
  top: 2px;
  box-shadow: 0 4px 0 0 rgb(16, 102, 182), 0 4px 0px rgba(0, 0, 0, 0.767);
}
.btn-2 {
  color: #222222;
  background-color: #ffffff;
  box-shadow: 0px 5px 0px rgb(213, 213, 213), 0px 6px 0px #b8b8b8;
}
.btn-2:hover {
  box-shadow: 0px 4px 0px rgb(213, 213, 213), 0px 5px 0px #b8b8b8;
  top: 1px;
}
.btn-2:active {
  box-shadow: 0px 3px 0px rgb(213, 213, 213), 0px 4px 0px #b8b8b8;
  top: 2px;
}

.col-name{
  margin-top: 300px;
  margin-left:200px;
  z-index: 10;
}
.col-name h1{
  
  font-family: 'Georama', sans-serif;
  font-weight: 400;
  font-size: 2.9em;
  color: white;
}

.label-container{
  height: 100px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.institute-summary{
  height: max-content;
  width: max-content;
  margin-left: 100px;
  z-index: 10;
}

.institute-summary p{
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: white;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(74, 80, 116);
  
}

.apply-btn{
  margin-left: 200px;
}
#apply-btn{
  border-radius: 40px;
  line-height: 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  width: max-content;
  background-color: #ffffff;
  color: black;
  box-shadow: none;
}

.at-a-glance{
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 100%;
  background-image: inherit;
}

.desc-1{
  background-color: white;
  height: 700px;
  width: 50%;
  position: relative;
  margin-top: 28px;
}

.desc-1 p{
  font-size: 1.4em;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  
}

.gallery{
  margin-left: 40px;
  height: 400px;
  width: min-content;
}

.gal-div{
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
  
}
.gal{
  pointer-events: none;
  height: inherit;
  width: 700px;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  
}

.view-gal{
  margin-top: 10px;
}
.view-gal-btn{
  margin-left: 50px;
  z-index: -1;
  margin-bottom: 50px;
}

.desc-2{
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 600px;
  width: 50%;
  margin-top: 30px;
  padding-left: 80px;
  
}

.heading{
  width: max-content;
  font-family: "Poppins", sans-serif;
  font-size: 2.2em;
  color: rgba(68, 66, 66, 0.568);
  font-weight: bolder;
  margin-left: 20px;
  border-bottom: 2px solid rgba(68, 66, 66, 0.568);
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  
}

.rank{
  margin-left: 20px;
  margin-top:30px;
  align-items: center;
  background-color: inherit;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-right: 4rem;
  width: 200px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  flex: 0 0 215px;
  border: 3px solid rgba(128, 128, 128, 0.376);
}

.head{
  height: max-content;
  font-size: 1.3em;
}

.division-2{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
  
}

.program-head{
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
}

.card-container{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
/* NEOMORPHIC CARD STARTS */

.box, .neomorph-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.container {
  width: 100%;
  height: 97vh;
}

.box {
  flex-direction: column;
  width: 300px;
  height: 420px;
  background: #f1f3f6;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.text {
  width: 80%;
  height: auto;
  font-family: "Poppins", sans-serif;
}
.text h1 {
  font-size: 1.5em;
  font-weight: 600;
}
.text p {
  margin-top: 2em;
  line-height: 1.45em;
}

.neo-btn {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}
.neo-btn .cta {
  width: 100px;
  height: 33px;
  text-decoration: none;
  background: #9dabc0;
  color: #fff;
  padding: 10px 63px;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0px 10px 15px rgba(55, 84, 170, 0.25);
}

.tooltip {
  position: relative;
  font-family: "Poppins", sans-serif
}

.tooltip .tooltiptext {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  padding: 5px 0 6px 0;
  position: absolute;
  top: -40px;
  left: calc(50% - 60px);
  z-index: 1;
  font-size: 0.7em;
  opacity: 0;
  box-sizing: border-box;
}

/* NEOMORPHIC CARD ENDS */

.button-div{
  margin-top: 150px;
  margin-left: 100px;
}
a {
  text-decoration: none;
  padding-top: 10px;
  color: white;
}

.cta-2 {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background-color:#9dabc0;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta-2 span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta-2 svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta-2:hover:before {
  width: 100%;
  background-color:#9dabc0;
}
.cta-2:hover svg {
  transform: translateX(0);
}
.cta-2:active {
  transform: scale(0.96);
}

/* events */
.events-section{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  background-color: inherit;
}

.event-cards{
  display: flex;
  flex-direction: row;
  height: max-content;
  margin-left: 20px;
}
/* event card css */



*, *:before, *:after {
  box-sizing: border-box;
}

.container-card {
  margin-left: 30px;
  width: 600px;
  font-family: "Poppins", sans-serif;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.subtle {
  color: #888;
  font-size: 12px;
}

.card-media {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: 150px;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.card-media-object-container {
  background: none;
  float: left;
  height: 100%;
  width: 45%;
  position: relative;
}

.card-media-object {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.card-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card-media:hover .card-media-object:after {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  opacity: 1;
}

.card-media-object-tag {
  background-color: #fff;
  border-radius: 2px;
  padding: 2px 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-media-object-social-list {
  bottom: 4px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}

.card-media-object-social-list li {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 6px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
}

.card-media:hover .card-media-object-social-list li {
  opacity: 1;
  transform: translateY(0);
}

.card-media-object-social-list li:nth-child(1) {
  transition-delay: 0;
}
.card-media-object-social-list li:nth-child(2) {
  transition-delay: 75ms;
}
.card-media-object-social-list li:nth-child(3) {
  transition-delay: 150ms;
}

.card-media-object-social-list-item-additional {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding-top: 7px;
  text-align: center;
}

.card-media-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 55%;
}

.card-media-body-top {
  display: block;
}

.card-media-body-top-icons {
  margin-top: -2px;
  opacity: 0;
  transition: all 300ms ease-out;
  transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
  opacity: 1;
  transform: translateY(0);
}

.card-media-body-top-icons > svg {
  cursor: pointer;
  margin-left: 10px;
  transition: all 300ms ease-out;
}

.card-media-body-top-icons > svg:hover {
  fill: #444;
}

.card-media-body-heading {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
}

.card-media-body-supporting-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover .card-media-body-supporting-bottom {
  opacity: 0;
  transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
  display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.card-media-link {
  color: #41C1F2;
  text-decoration: none;
}

/* event card css ends */

/* premium and contact starts here */

.premium{  
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  background-color: inherit;
}

#premium-head{
  align-content: center;
  margin: 10px auto;
}

.services{
  display: flex;
  flex-direction: row;
  justify-self: start;
}

#service-card{
  background-color: white;
}

#service-card:hover{
  background-image: linear-gradient(to top, rgba(19, 109, 211, 0.4), rgba(19, 109, 211, 0.911));
  color: white;
}

/* premium and contact ends here */

.ins-contact{
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  margin-top:20px;
  background-image: linear-gradient(to top, rgba(19, 109, 211, 0.4), rgba(140, 172, 209, 0.911));
}

.column-1{
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 40%;
  font-family: "Poppins", sans-serif;
  padding-left:20px;
  padding-right:20px;
  
}

.visit-head{
  font-size: 1.4em; 
}

.column-2{
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 60%;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

.contact-head{
  font-size: 1.4em;
}

.sub-con-soc{
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contact-body{
  width: 50%;
}
.social{
  height: max-content;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.social-body{
  padding-left: 200px;
  padding-top:70px;

}
.social-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.social-btn {
  width: 70px;
  height: 70px;
  margin: 20px;
  outline: none;
  border: none;
  background: inherit;
  box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.social-btn:hover {
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.21);
  }
  to {
    transform: scale(1);
  }
}